@* @using Domain.Entity
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager *@
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - User</title>
	<script type="importmap"></script>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/User.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
			<div class="container-fluid">
				<!-- Logo -->
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
					<img src="/img/logo-search-grid-2x.png" alt="Logo"
						 class="rounded-circle" style="width:50px; height:50px;" />
				</a>

				<!-- Nút toggle -->
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
						data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
						aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- Danh mục -->
				<div class="collapse navbar-collapse justify-content-center" id="navbarNav">
					<ul class="navbar-nav gap-4">
						<li class="nav-item"><a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle"
							   href="#"
							   role="button"
							   data-bs-toggle="dropdown">
								Thực đơn
							</a>
							<ul class="dropdown-menu dropdown-dark">
								<li><a class="dropdown-item" href="#">Gà rán</a></li>
								<li><a class="dropdown-item" href="#">Burger</a></li>
								<li><a class="dropdown-item" href="#">Combo</a></li>
							</ul>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle"
							   href="#"
							   role="button"
							   data-bs-toggle="dropdown">
								Danh mục món ăn
							</a>
							<ul class="dropdown-menu dropdown-dark">
								<li><a class="dropdown-item" href="#">Món cay</a></li>
								<li><a class="dropdown-item" href="#">Món không cay</a></li>
								<li><a class="dropdown-item" href="#">Đồ uống</a></li>
							</ul>
						</li>

						<li class="nav-item"><a class="nav-link" href="#">Món mới</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Ưu đãi</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Liên hệ</a></li>
					</ul>
				</div>

				<!-- Đăng nhập và giỏ hàng -->
				<div class="d-flex align-items-center">
					@if (User.Identity.IsAuthenticated)
					{
						<div class="dropdown">
							<a href="#" role="button" data-bs-toggle="dropdown"
							   class="btn btn-outline-light me-3 text-white dropdown-toggle">
								@* <img src="@User.FindFirst("avatar")?.Value"
									 class="rounded-circle me-2" style="width:35px; height:35px; object-fit:cover;" /> *@
								<span>@User.Identity.Name</span>
							</a>

							<ul class="dropdown-menu dropdown-menu-end">
								<li>
									<form asp-controller="Authen" asp-action="Logout" method="post" class="m-0">
										<button type="submit" class="dropdown-item">
											<i class="bi bi-box-arrow-right"></i> Đăng xuất
										</button>
									</form>
								</li>
							</ul>

						</div>
						<a asp-area="" asp-controller="Cart" asp-action="Cart" class="btn btn-outline-light text-white position-relative">
							<i class="bi bi-bag-heart-fill"></i>
							<span id="cartBadge" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
								@(ViewBag.CartQuantity ?? 0)
								<span class="visually-hidden">Sản phẩm trong giỏ hàng</span>
							</span>
						</a>
					}
					else
					{
						<a asp-area="" asp-controller="Authen" asp-action="Login" class="btn btn-outline-light me-3 text-white"><i class="bi bi-person-circle"></i></a>
						<a asp-area="" asp-controller="Cart" asp-action="Cart" class="btn btn-outline-light text-white position-relative">
							<i class="bi bi-bag-heart-fill"></i>
							<span id="cartBadge" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
								0
								<span class="visually-hidden">Sản phẩm trong giỏ hàng</span>
							</span>
						</a>
					}
				</div>
			</div>
		</nav>

	</header>

	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="bg-dark text-light pt-5 pb-3">
		<div class="container-footer">
			<div class="row">
				@* Cột thông tin công ty *@
				<div class="col-md-4 mb-4">
					<img src="/img/logo-search-grid-2x.png" alt="Logo" style="width: 120px" class="rounded-circle mb-3" />
					<h5 class="text-danger fw-bold">CÔNG TY TNHH TOẢN FOOD</h5>
					<p><strong>Địa chỉ</strong> Ở đâu còn lâu mới nói</p>
					<p><strong>Điện thoại</strong> 0123456789 [hotline]</p>
					<p><strong>Email</strong> dongminhtoan0972@gmail.com</p>
					<form class="d-flex" role="search">
						<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
						<button class="btn btn-outline-light text-white" type="submit">Search</button>
					</form>
				</div>
				@* Cột điều khoản *@
				<div class="col-md-4 mb-4">
					<h5 class="text-danger fw-bold">ĐIỀU KHOẢN</h5>
					<ul class="list-unstyled">
						<li><a href="#" class="text-light nav-link">Chính sách bảo mật</a></li>
						<li><a href="#" class="text-light nav-link">Điều khoản sử dụng</a></li>
						<li><a href="#" class="text-light nav-link">Chính sách vận chuyển</a></li>
						<li><a href="#" class="text-light nav-link">Chính sách đổi trả</a></li>
					</ul>
				</div>
				@* Cột Thao dõi *@
				<div class="col-md-4 mb-4">
					<h5 class="text-danger fw-bold">THEO DÕI CHÚNG TÔI</h5>
					<p>Theo dõi chúng tôi trên các mạng xã hội để cập nhật thông tin mới nhất.</p>
					<div class="d-flex">
						<a href="https://www.facebook.com/toan.dong.5095110" class="btn btn-outline-light text-white me-2"><i class="bi bi-facebook"></i></a>
						<a href="https://www.facebook.com/toan.dong.5095110" class="btn btn-outline-light text-white me-2"><i class="bi bi-twitter"></i></a>
						<a href="https://www.instagram.com/toan.dong.5095110/" class="btn btn-outline-light text-white me-2"><i class="bi bi-instagram"></i></a>
						<a href="https://www.youtube.com/ongminhtoan440" class="btn btn-outline-light text-white"><i class="bi bi-youtube"></i></a>
					</div>
					<img src="~/img/logo-bocongthuong.png" alt="Đã thông báo" style="height:50px; margin-top: 10px  " />
				</div>
			</div>

			<hr class="border-secondary" />
			<div class="text-center">
				<p class="mb-0">© 2023 Công ty TNHH Toàn Food. Bảo lưu mọi quyền.</p>
			</div>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script>
			function updateCartBadge() {
			fetch('/Cart/GetCartQuantity')
				.then(res => res.json())
				.then(data => {
					document.querySelector('#cartBadge').textContent = data.quantity;
				});
		}
	</script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
